


<div class="container-fluid">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Entertainment Center</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home-page" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <a   routerLink="/favourite-list" routerLinkActive="active" class="btn btn-outline-success" >Favourites List</a>
    </ul>
    
    <form class="form-inline my-2 my-lg-0">    
  <input #searchmovie class="form-control mr-sm-2" type="text" placeholder="Search Movie" 
  (keyup)="search(searchmovie.value)" required="Required" />

    </form>
  <div class="card card-inverse card-info" (click)="search(searchmovie)" class="search-result"></div>
  </div>
</nav>

</div>

