/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/*
.bg-faded {
    background-color: darkseagreen;}

    .btn-outline-success {
    color: black;
    background-image: none;
    background-color: transparent;
    border-color: black;
}*/