

.card-img-top{
	    padding: 3%;
}

.card-text{
	margin-top: 3%;
	text-align: center;
}

.card-text{
    font-size: -webkit-xxx-large;
    color: #4ac4d2;
    font-family: monospace;
}

.footer-head{
	background-color: #4ac4d2;
}